:host {
  display: block;
}

.repeat-settings-dialog-body {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.repeat-type-choose {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;
}

.repeat-type-option {
  display: flex;
  align-items: center;

  margin-bottom: 8px;
}

.repeat-stat p {
  margin: 0;
  margin-top: 8px;
}

label {
  font-family: 'Open Sans', sans-serif;
}

.stat-label, .stat-value {
  font-family: 'Open Sans', sans-serif;
}

.repeat-settings-header-text {
  font-family: 'Finlandica', sans-serif;
}
