:host {
  display: block;
}

.button-container {
  border-radius: 5px;
  border: none;

  height: 35px;

  padding: 0 10px;

  cursor: pointer;
  outline: none;

  transition-property: background;
  transition-duration: 500ms;
}

.dark-button-container {
  background: rgb(51, 53, 55);

  color: white;
}

.dark-button-container:hover {
  background: rgb(72, 75, 79);
}

.light-button-container {
  background: #e9e9ed;
}

.light-button-container:hover {
  background: #c7c7c8;
}

.button-disabled {
  cursor: not-allowed;
}

button {
  font-family: 'Open Sans', sans-serif;
}