:host {
  height: 100%;
  width: 100%;
}

.dialog {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(69, 75, 85, 0.54);
}

.dialog-inner {
  min-height: 380px;
  min-width: 340px;

  background: white;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  border-radius: 5px;
}

.dialog-header {
  flex-grow: 0;
  flex-shrink: 0;

  flex-basis: 10%;
  padding: 0 10px;
}

.dialog-body {
  flex-grow: 1;
  flex-shrink: 0;

  flex-basis: 80%;
}

.dialog-footer {
  flex-grow: 0;
  flex-shrink: 0;

  flex-basis: 10%;

  display: flex;
  justify-content: flex-end;
  padding: 10px;
}