:host {
  display: block;
}

.warning-dialog-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

  padding: 10px;
}

.warning-dialog-header-text {
  font-family: 'Finlandica', sans-serif;
}