.word-card-container {
  display: flex;
}

.word-card-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  padding: 10px 10px 14px 10px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.light-card-container {
  background: #ebebf7;
}

.dark-card-container {
  background-color: #1b1b1b;
}

.words-data p {
  margin: 0;
  font-size: 14px;
}

.words-data {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  row-gap: 8px;
  column-gap: 8px;
}

.word-card-header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px 0 0;
}

.word-card-button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.word-icon-container {
  height: 14px;
}

.word-icon-container svg {
  height: 14px;
}

.dark-word-icon-container svg {
  fill: #EBEBF7;
}

.word-text, .word-label {
  font-family: 'Open Sans', sans-serif;
}

.light-word-text, .light-word-label {
  color: rgb(51, 53, 55);
}

.dark-word-text, .dark-word-label {
  color: white;
}

.is-wrong {
  color: red;
  text-decoration: line-through;
}

.is-right {
  color: green;
}