:host {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;

  font-family: 'Open Sans', sans-serif;
}

input {
  outline: none;
  height: 22px;

  font-family: 'Open Sans', sans-serif;
}