.app-header {
  display: flex;

  height: 50px;
  align-items: center;

  padding: 0 16px;
  justify-content: space-between;
}

.app-header-light {
  background-color: #EBEBF7;
}

.app-header-dark {
  background-color: #1b1b1b;
}

.app-heading {
  font-size: 22px;

  font-family: 'Finlandica', sans-serif;
  font-weight: bold;
}

.app-heading-light {
  color: #1b1b1b;
}

.app-heading-dark {
  color: #EBEBF7;
}

.theme-switcher, .language-switcher {
  border: none;
  background: none;
  cursor: pointer;
}

.icon-container {
  height: 20px;
}

.icon-container svg {
  height: 20px;
}

.dark-icon-container svg {
  fill: #EBEBF7;
}

.buttons-block {
  display: flex;
  align-items: center;
  flex-basis: 70px;
  justify-content: space-between;
  padding-right: 20px;
}

.light-word-container {
  color: #1b1b1b;
}

.dark-word-container {
  color: #EBEBF7;
}